* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #ccc;
  margin: 3rem 5rem;
  line-height: 1.4;
}

.btn {
  background: #333;
  color: #fff;
  padding: 0.6rem 1.3rem;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

nav ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

nav ul a {
  background: #ddd;
  padding: 0.8rem;
  color: #333;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
  display: block;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul a:hover {
  background: #333;
  color: #fff;
}

#homepage {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

#homepage #top-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
      grid-template-areas: "showcase showcase top-box-a" "showcase showcase top-box-b";
}

#homepage #top-container h1,
#homepage #top-container h4,
#homepage #top-container p {
  margin: 1rem 0rem;
}

#homepage #top-container .showcase {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: showcase;
  min-height: 40rem;
  background: url("../images/showcase.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
}

#homepage #top-container .showcase h1 {
  font-size: 5rem;
  margin-bottom: 0;
  color: #fff;
}

#homepage #top-container .showcase p {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0;
}

#homepage #top-container .top-box {
  background: #ddd;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
  padding: 2rem;
}

#homepage #top-container .top-box p.price {
  font-size: 2.5rem;
}

#homepage #top-container .top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-box-a;
}

#homepage #top-container .top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: top-box-b;
}

#homepage #boxes {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

#homepage #boxes .box {
  background: #ddd;
  text-align: center;
  padding: 1.5rem 2.5rem;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(104, 104, 104, 0.8);
}

#homepage #boxes .box h3 {
  margin: 1rem 0rem;
}
/*# sourceMappingURL=style.css.map */